<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Some.API" publicKeyToken="12ab3cd4e5f6abcd"
                  culture="neutral" />
                <codeBase version="1.0.0.0" href="v1\Some.API.dll" />
                <codeBase version="2.0.0.0" href="v2\Some.API.dll" />
                <!-- INFO: The version attribute represents an assembly 
                           version which doesn't always have to match the 
                           NuGet package version.
                           The codebase attribute can be anywhere on 
                           the local intranet or the Internet. -->
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>